{
  "plugins": [
    "@babel/proposal-class-properties",
    [
      "@babel/proposal-object-rest-spread",
      {},
      "blah"
    ],
    [
      "angularjs-annotate",
      {
        "explicitOnly": false
      }
    ]
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
