node_modules
dist
.tmp
.cache
.sass-cache
bower_components
coverage/

*.log
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
npm-debug.log

#IDE Files
.idea/
.classpath
.clover
.project
.settings/
*.iml
target/
report/

