<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
    <span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Create Column</h4>
</div>
<form name="column" class="form-horizontal" ng-submit="ok(obj)">
  <div class="modal-body">
    <div class="row">
      <div class="form-group">
        <label for="colname" class="col-sm-3 control-label">Name: </label>
        <div class="col-sm-8" ng-class="{'has-error': (!modalOptions.unique(obj.name) || column.colName.$invalid) && !column.colName.$pristine}">
          <input id="colname" name="colName" type="text" class="form-control" ng-model="obj.name" required autofocus
                 uib-tooltip="Name is not unique!" tooltip-enable="!modalOptions.unique(obj.name) && !column.colName.$pristine"/>
        </div>
      </div>
      <div class="form-group">
        <label for="expr-value" class="col-sm-3 control-label">Expression</label>
        <div class="col-sm-8">
          <textarea id="expr-value" name="exprValue" class="form-control code" ng-model="obj.value" msd-elastic></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="coltype" class="col-sm-3 control-label">Data Type</label>
        <div class="col-sm-6">
          <select id="coltype" name="colType" class="form-control" ng-model="obj.dataType" ng-options="t as t for t in ['string','number','date']"></select>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary"  ng-click="ok(obj)" ng-disabled="column.$invalid || !modalOptions.unique(obj.name)"><i class="fa fa-bolt"></i>&nbsp; Ok</button>
    <button type="button" class="btn btn-default pull-left" ng-click="close()">Cancel</button>
  </div>
</form>
