<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Analyze
    <small>Relationships between concepts</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
    <li class="active">Analyze</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="nav-tabs-custom">
        <div class="box-tools pull-right">
          <div class="form-group search-tools">
            <div class="col-sm-7" uib-tooltip="Chart type">
              <select ng-model="$ctrl.chartType" class="form-control chart-params" ng-options="c for c in $ctrl.chartTypes" ng-change="$ctrl.switchChart()"></select>
              <span class="badge bg-gray-active">T</span>
            </div>
            <div class="col-sm-5" uib-tooltip="Min occurrence" ng-if="$ctrl.chartType!='Barchart'">
              <input type="number" min="0" ng-model="$ctrl._matrix.minCount" form="search-form" class="form-control chart-params">
              <span class="badge bg-gray-active">M</span>
            </div>
            <div class="col-sm-5" uib-tooltip="Sample size" ng-if="$ctrl.chartType=='Barchart'">
              <input type="number" min="0" ng-model="$ctrl._matrix.sampleSize" form="search-form" class="form-control chart-params">
              <span class="badge bg-gray-active">S</span>
            </div>
          </div>
        </div>
        <ul class="nav nav-tabs">
          <li><a href data-target="#search" data-toggle="tab"><i class="fa fa-search"></i> Search</a></li>
          <li class="active"><a href data-target="#view" data-toggle="tab"><i class="fa fa-area-chart"></i> View</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade" id="search">
            <fd-search search="$ctrl.search()">
              <fd-matrix-form ng-if="$ctrl.chartType!='Barchart'"></fd-matrix-form>
              <fd-agg-form ng-if="$ctrl.chartType=='Barchart'"></fd-agg-form>
            </fd-search>
          </div>
          <div class="tab-pane fade active in" id="view">
            <div class="box-body">
              <fd-search search="$ctrl.search()"></fd-search>
              <!--Chord chart-->
              <chord-diagram data="$ctrl.cdData" ng-if="$ctrl.chartType=='Chord'"></chord-diagram>
              <!--Matrix chart-->
              <div id="cooccurrenceGraph" ng-if="$ctrl.chartType=='Matrix'">
                <cooccurrence-diagram data="$ctrl.coData" ordered-nodes="$ctrl.orderedNodes"></cooccurrence-diagram>
                <select ng-model="$ctrl.order" ng-change="$ctrl.orderMatrix()">
                  <option value="name">by Name</option>
                  <option value="count">by Occurrence</option>
                </select>
              </div>
              <!--BiPartite chart-->
              <bipartite-diagram data="data" ng-repeat="data in $ctrl.bpData" ng-if="$ctrl.chartType=='BiPartite'"></bipartite-diagram>
              <!--Tag Cloud-->
              <tag-cloud terms="$ctrl.data"  ng-if="$ctrl.chartType=='TagCloud'"></tag-cloud>
              <!--Count barchart-->
              <div id="barchart" ng-if="$ctrl.chartType=='Barchart'">
                <bar-chart data="$ctrl.aggData" agg="$ctrl.aggDetails"></bar-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
