<div class="row">
  <div class="col-md-12">
    <fieldset>
      <legend class="legend">Existing Entity Links &nbsp;
        <button type="button" class="btn btn-sm btn-primary" uib-tooltip="Add new" ng-click="$ctrl.addLink()">
          <i class="fa fa-plus"></i></button>
      </legend>
      <table class="table" ng-show="$ctrl.column.entityLinks.length>0">
        <tr>
          <th><i class="fa fa-external-link" uib-tooltip="Parent"></i></th>
          <th>Fortress</th>
          <th>Document Name</th>
          <th>Relationship</th>
          <th class="checkbox">
            <label>
              <input type="checkbox" name="reverse" ng-model="$ctrl.column.reverse"> <b>Reverse</b>
            </label>
          </th>
        </tr>
        <tr ng-repeat="e in $ctrl.column.entityLinks">
          <td>
            <label>
              <input type="checkbox" ng-model="e.parent" uib-tooltip="Parent"
                     ng-disabled="!e.parent && $ctrl.parentSelected($ctrl.column.entityLinks)">
            </label>
          </td>
          <td class="col-xs-4">
            <fortress-input model="e.fortress" ng-required="true"></fortress-input>
          </td>
          <td class="col-xs-4">
            <doctype-input model="e.documentName" fortress="e.fortress" ng-required="true"></doctype-input>
          </td>
          <td class="col-xs-3">
            <input class="form-control" ng-model="e.relationshipName" ng-required="true" type="text" placeholder="Relationship name">
          </td>
          <td>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.deleteLink(e)" uib-tooltip="Delete">
                <i class="fa fa-trash"></i></button>
            </span>
          </td>
        </tr>
      </table>
    </fieldset>
  </div>
</div>
