<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Model
    <small>Content that describe the data you want to import</small>
  </h1>
  <ol class="breadcrumb">
    <li><a ui-sref="welcome"><i class="fa fa-home"></i> Home</a></li>
    <li class="active">Model</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Manage Content Models - {{$ctrl.profile.companyName}}</h3>

          <div class="box-tools">
            <div class="input-group input-group-sm box-filter">
              <select class="form-control" id="fortress" ng-model="$ctrl.fortress" ng-options="f.name as f.name for f in $ctrl.fortresses">
                <option value="" selected>Data Provider</option>
              </select>
              <!--<div class="input-group-btn">-->
                <!--<button class="btn" ng-click="$ctrl.createFortress()" uib-tooltip="New Data Provider"><i class="fa fa-lg fa-plus"></i></button>-->
              <!--</div>-->
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <div class="box-controls">
            <!--<button type="button" class="btn btn-default btn-sm" uib-tooltip="Select all" ng-click="$ctrl.selectAll()"><i class="fa" ng-class="$ctrl.allSelected ? 'fa-check-square-o' : 'fa-square-o'"></i></button>-->
            <button type="button" class="btn btn-sm btn-primary" uib-tooltip="Create new" ng-click="$ctrl.createModel()"><i class="fa fa-plus"></i></button>
            <label for="file" class="btn btn-default btn-sm file-box-input" uib-tooltip="Open from file">
              <input type="file" id="file" class="box-file" accept=".json" onchange="angular.element(this).scope().$ctrl.openFile(this)"><i class="fa fa-upload"></i></label>
            <button type="button" class="btn btn-default btn-sm" uib-tooltip="Save to file" ng-click="$ctrl.downloadModel($ctrl.selected)"><i class="fa fa-download"></i></button>
            <button type="button" class="btn btn-default btn-sm" uib-tooltip="Delete selected" ng-click="$ctrl.deleteModel($ctrl.selected)"><i class="fa fa-trash-o"></i></button>
          </div>
          <table class="table table-hover">
            <tbody>
            <tr>
              <td>
                <input type="checkbox" uib-tooltip="Select all" ng-checked="$ctrl.allSelected" ng-click="$ctrl.selectAll()"/>
              </td>
              <th>Data Provider</th>
              <th>Type</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
            <tr ng-repeat="cp in $ctrl.cplist | filter:$ctrl.fortress.toString()" ng-click="$ctrl.selectModel(cp.key)">
              <td>
                <input type="checkbox" value="{{cp.key}}" ng-checked="$ctrl.selected.indexOf(cp.key)>-1"/>
              </td>
              <td>{{cp.fortress}}</td>
              <td>{{cp.code || cp.documentType}}</td>
              <td>{{cp.name}}</td>
              <td>
                <div class="tools">
                  <a href="/edit/{{cp.key}}" class="btn btn-box-tool" uib-tooltip="Edit" ><i class="fa fa-lg fa-edit"></i></a>
                  <button type="button" class="btn btn-box-tool" uib-tooltip="Save to disk" ng-click="$ctrl.downloadModel([cp.key])"><i class="fa fa-lg fa-download"></i></button>
                  <button type="button" class="btn btn-box-tool" uib-tooltip="Delete" ng-click="$ctrl.deleteModel([cp.key])"><i class="fa fa-lg fa-trash-o"></i></button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">

        </div>
      </div>
    </div>
  </div>
</section>
