<div class="col-md-2 col-xs-6">
  <div class="form-group" >
    <label class="control-label">Layout</label>
    <div class="pull-right">
      <select ng-model="$ctrl.layout" ng-options="l.name for l in $ctrl.layouts"></select>
    </div>
  </div>

  <label class="control-label">Create</label>

  <button id="coldef" class="btn btn-sm btn-block btn-default" ng-click="$ctrl.createColumn()">Calculated Column</button>
  <button id="tag" class="btn btn-sm btn-block btn-warning" ng-click="$ctrl.createTag()">Tag</button>
  <button id="alias" class="btn btn-sm btn-block btn-alias" ng-click="$ctrl.createAlias()">Alias</button>
  <button id="entity" class="btn btn-sm btn-block btn-primary" ng-click="$ctrl.createEntitylink()">Entity Link</button>

  <label uib-dropdown>
    <a href id="list-menu" uib-dropdown-toggle>
      {{$ctrl.list}} <span class="caret"></span></a>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="list-menu">
      <li role="menuitem"><a href ng-click="$ctrl.list='Columns'">Columns</a></li>
      <li role="menuitem"><a href ng-click="$ctrl.list='Tags'">Tags</a></li>
    </ul>
  </label>
  <!--<label class="control-label">Columns</label>-->
  <div ng-height="400" class="scroll-col" ng-show="$ctrl.list==='Columns'">
    <div class="btn-toolbar" id="Columns">
      <button id="{{col}}" class="btn btn-xs" ng-class="{'btn-warning' : val.tag, 'btn-primary': !val.tag, 'dim': val.persistent===false, 'btn-success':val.callerRef, 'btn-alias': !!val.$alias}"
              draggable options="{opacity: .5,revert: true}" style="margin: 2px;" ng-repeat="(col, val) in $ctrl.model.content" ng-click="$ctrl.showColDef(col)" uib-tooltip="{{val.label}}">{{col}}</button>
    </div>
  </div>
  <div ng-height="400" class="scroll-col" ng-show="$ctrl.list==='Tags'">
    <div class="btn-toolbar" id="Tags">
      <button id="{{tag.id}}" class="btn btn-xs label btn-warning" draggable options="{opacity: .5,revert: true}" style="margin: 2px;"
              ng-repeat="tag in $ctrl.tags" ng-click="$ctrl.showColDef(tag.id,{openAsTag: true})">{{tag.label}}</button>
    </div>
  </div>
</div>
<div class="col-md-10">
  <cytoscape class="modeler" elements="$ctrl.modelGraph" layout="$ctrl.layout" styles="$ctrl.styles" selected-nodes="$ctrl.nodes" on-edge="$ctrl.nodeLink(source, target)" qtip="$ctrl.qtip"></cytoscape>
</div>
