<div ng-transclude></div>
<div class="col-sm-6 col-md-4 col-lg-3">
  <section class="form-group">
    <label>Fortress</label>
    <select class="form-control" ng-model="fortress" multiple
            ng-options="f.name as f.name for f in $ctrl.params.fortresses"
            ng-change="$ctrl.selectFortress(fortress)"></select>
  </section>
  <section class="form-group" ng-show="$ctrl.params.documents.length>0">
    <label>Documents</label>
    <select class="form-control" ng-model="document" multiple
            ng-options="d.name as d.name for d in $ctrl.params.documents"
            ng-change="$ctrl.selectDocument(document)"></select>
  </section>
</div>
<div class="col-sm-6 col-md-4 col-lg-3" ng-show="$ctrl.params.concepts.length>0">
  <section class="form-group">
    <label>Tags</label>
    <select class="form-control" ng-model="concept" multiple
            ng-options="c.name as c.name for c in $ctrl.params.concepts"
            ng-change="$ctrl.selectConcept(concept)"></select>
  </section>
  <section class="form-group" ng-show="!$ctrl.params.relationshipChecked && $ctrl.params.fromRlxs.length>0">
    <label>Relationship From</label>
    <select class="form-control" ng-model="$ctrl.params.fromRlx" multiple
            ng-options="rf.name as rf.name for rf in $ctrl.params.fromRlxs"></select>
  </section>
  <section class="form-group" ng-show="!$ctrl.params.sharedRlxChecked && $ctrl.params.fromRlxs.length>0">
    <label>Relationship To</label>
    <select class="form-control" ng-model="$ctrl.params.toRlx" multiple
            ng-options="rt.name as rt.name for rt in $ctrl.params.toRlxs"></select>
  </section>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
  <section class="form-group">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="$ctrl.params.sumByCountChecked">
        Sum by count
      </label>
    </div>
  </section>

  <section class="form-group" ng-if="$ctrl.params.devMode">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="$ctrl.params.sharedRlxChecked">
        Share Relationships
      </label>
    </div>
  </section>

  <section class="form-group" ng-if="$ctrl.params.devMode">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="$ctrl.params.reciprocalExcludedChecked">
        Exclude Reciprocals
      </label>
    </div>
  </section>

  <section>
    <div class="form-group col-md-6">
      <label for="minCount">Min Occurrence</label>
      <input type="number" min="0" class="form-control" name="minCount" id="minCount" ng-model="$ctrl.params.minCount"/>
    </div>
    <div class="form-group col-md-6">
      <label for="resultSize">Sample Size</label>
      <input type="number" min="0" class="form-control" name="resultSize" id="resultSize" ng-model="$ctrl.params.resultSize"/>
    </div>
  </section>
</div>
