<div class="row">
  <div class="col-md-6">
    <fieldset>
      <legend>Geo Data</legend>
      <div class="form-group">
        <label for="standard" class="control-label col-xs-3">Standard</label>
        <div class="col-xs-9">
          <input id="standard" name="standard" type="text" class="form-control" ng-model="$ctrl.tag.geoData.sourceFormat" />
        </div>
      </div>
      <div class="form-group">
        <label for="geoX" class="control-label col-xs-3">X</label>
        <div class="col-xs-9">
          <input id="geoX" name="geoX" type="text" class="form-control" ng-model="$ctrl.tag.geoData.x" />
        </div>
      </div>
      <div class="form-group">
        <label for="geoY" class="control-label col-xs-3">Y</label>
        <div class="col-xs-9">
          <input id="geoY" name="geoY" type="text" class="form-control" ng-model="$ctrl.tag.geoData.y" />
        </div>
      </div>
    </fieldset>
  </div>
</div>
